/* =================================== */
/* Beginning of footer section styling */
/* =================================== */

.footer__wrapper {
  background: var(--nearcut-grey-0);
}
.footer {
  padding: 8rem 2.4rem 5rem;
}
.footer__content {
  max-width: 30rem;
}
.footer__image {
  max-width: 12.8rem;
}
.footer__text,
.footer__link {
  margin-top: 1.6rem;
  display: flex;
  color: var(--white);
  font-size: 1.4rem;
  line-height: 2.4rem;
  align-items: center;
}
.footer__link > svg {
  margin-right: 0.8rem;
}
.footer__link:hover {
  text-decoration: underline;
  color: var(--primary-mustard);
}
.footer__socials {
  margin-top: 7.8rem;
}
.footer__socials__title {
  color: var(--primary-mustard);
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}
.footer__socials__group {
  display: flex;
  justify-content: space-between;
}
.footer__socials__link:hover > svg {
  fill: #FFEE7A;
}

@media screen and (min-width: 767px) {
  .footer {
    padding-left: 4rem;
    max-width: 100rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1199px) {
  .footer {
    padding-left: 12.8rem;
    max-width: 140rem;
    margin: 0 auto;
  }
}
/* ============================== */
/* End of footer section styling */
/* ============================= */